.introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #150E28; 
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 30px 60px;
    gap: calc(20%);
}

.image{
    width: calc(20% + 5em);
    height: calc(20% + 5em);
    object-fit: contain;
    max-height: calc(25% + 5em);
    max-width: calc(25% + 5em);
    flex: 2;
}

.container > div{
    flex: 1;
}

.container > div h3{
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 4ex;
    width: 360px;
}

.container > div h3 span{
    color: #D434FE;
}

.container > div p{
    text-align: start;
    line-height: 25px;
    color: rgb(255, 255, 255);
    width: 473.35px;
}

.hr{
    height: 1px;
    background-color: rgb(141, 141, 141);
    width: 100%;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1000px){
    .introSection{
        height: 100%;
    }

    .container{
        flex-direction: column;
    }

    .image{
        width: calc(40% + 5em);
        height: calc(40% + 5em);
        object-fit: contain;
        max-height: calc(40% + 5em);
        max-width: calc(40% + 5em);
    }

    .container > div h3{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 4ex;
        width: 95%;
    }

    .container > div p{
        text-align: center;
        line-height: 25px;
        color: rgb(255, 255, 255);
        width: 100%;
    }
}